/* index.html */

.welcome-block{
  height: 350px;
  width: 400px;
  /* border: 1px solid #ccc; */
  margin: 0 auto;
  position: relative;
  /* top: 100px; */
  padding-top: 5%;
}

.welcome{
  display: inline-block;
  background: #f9f9f9;
  height: 200px;
  width: 380px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 0 0 30px 30px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.welcome-block__avatar{
  height: 125px;
  width: 125px;
  margin: 0 135px;
  border: 5px solid #efefef;
  border-radius: 125px;
  overflow: hidden;
  position: relative;
  top: 60px;

}

.welcome__username{
  text-align: center;
  padding: 0px 0px;
  font-size: 20px;
  font-weight: bold;
  color: #5f5f5f;
  margin: auto;
  min-width: 50px;
  max-width: 350px;
  /* border: 1px solid #ccc; */
}

.welcome__empty{
  height: 40%;
}

.welcome__button{
  height: 50px;
  width: 350px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  /* border: 1px solid #ccc; */
  position: relative;
  top: 20px;
}

.welcome__button__a{
  height: 50px;
  width: 200px;
  text-decoration: none;
  outline: none;
  background: #f9f9f9;
  border: 2px solid #56aaff;
  border-radius: 30px;
  position: relative;
  top: 10px;
  padding: 10px 50px;
  color: #56aaff;
  font-weight: bold;
  transition: all 0.5s;

}

.welcome__button__a:hover{
  background: #56aaff;
  color: #fff;
}

/* MAIN.HTML */

.header{
  height: 70px;
  width: 100%;
  background-color: #F9F9F9;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  overflow: visible;
  z-index: 2000;
}

.main-content{
  width: 800px;
  height: 100%;
  margin: 50px auto;
  /* border: 2px solid #ccc; */
  border-radius: 5px;
  box-sizing: content-box;
  overflow: auto;
}

.user__avatar{
  background: #ccc;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  top: 3px;
}

.user__username{
  display: inline-block;
  padding: 5px 0px;
  /* font-size: 17px; */
  font-weight: bold;
  color: #5f5f5f;
  min-width: 50px;
  max-width: 500px;
}

.username-p{
  display: inline-block;
  padding: 5px;
  float: right;
}

.header__user{
  text-align: center;
  vertical-align: middle;
  /* border: 1px solid black; */
  padding: 5px 0px;
}

.header__left{
  display: inline-block;
  float: left;
  width: 30%;
  height: 60px;
  /* border: 1px solid #ccc; */
  margin: 0px 20px;
}

.header__right{
  display: inline-block;
  float: right;
  margin: 0px 20px;
  padding-right: 10px;
  /* border: 1px solid #ccc; */
  width: 30%;
  height: 60px;
  text-align: center;
}

@keyframes toolbar_slide {
  from {height: 0px;}
  to   {height: 113.5px;}
}

.contacts__dropdown{
  min-width: 100px;
  max-width: 300px;
  max-height: 600px;
  /* height: 0px; */
  z-index: 5000;
  position: relative;
  border: 2px solid #c9c9c9;
  border-top: 0px;
  background: #f9f9f9;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 10px;
  overflow: hidden;
  /* transition: all 1s; */
  right: 10px;
  top: 22px;
  /* box-shadow: 0px 5px 5px #ccc; */
}

.contacts__dropdown-item__info{
  font-weight: bold;
  color: #56aaff;
  line-height: 2;
  font-size: 17px;
}

.contacts__dropdown__ul li{
 display: block;
}

.contacts{
  display: inline-block;
  text-align: center;
  padding: 25px;
  width: 100px;
  margin: 0 100px;

}

.contacts__list{
  /* border: 2px dotted #ccc; */
}

.footer__left{
  width: 50%;
  display: inline-block;
  float: left;
  line-height: 1;
  text-align: center;
}

.footer__right{
  width: 50%;
  display: inline-block;
  float: right;
}

.footer-socials{
  display: inline-block;
  float: right;
  padding: 0px;
  margin-right: 15px;
}

.footer-socials{
  padding: 5px;
  position: relative;
  bottom: 3px;

}

.footer-icon{
  outline: none;
  border: 3px solid #1c1c1c;
  border-radius: 50%;
  transition: all 0.3s;
}

.footer-icon:hover{
  border-color: #5c5c5c;
  outline: none;
}

.footer-socials a{
  outline: none;
}

.footer-socials li{
  margin: 0 5px;
}

.header__link{
  text-decoration: none;
  color: #5f5f5f;
  font-weight: bold;
  transition: all 0.3s;
  outline: none;
}

.header__link:hover{
  color: #56aaff;
}

.nav-block{
  display: inline-block;
  float: none;
  height: 300px;
  width: 100px;
  padding: 20px;
  line-height: 2;
  text-align: right;
  position: relative;
}

.nav-list-link{
  text-decoration: none;
  transition: all 0.3s;
  color: #5f5f5f;
  font-weight: bold;
  outline: none;
  font-size: 18px;
  position: relative;
  min-height: 50px;
}

.nav-list-link:hover{
  color: #56aaff;
  font-size: 20px;
}

.nav-list-link__this-page{
  color: #0c85ff;
  font-size: 20px;
  cursor: default;
}

.info{
  display: inline-block;
  height: 425px;
  width: 600px;
  max-width: 600px;
  min-width: 400px;
  background: #f8f8f8;
  /* border: 2px solid #ccc; */
  padding: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  position: absolute;
  overflow: hidden;
}

.info__avatar{
  display: inline-block;
  padding: 10px;
  height: 300px;
  width: 150px;
  /* border: 1px solid #ccc; */
  padding: 0 0 0 50px;
}

.info__headline{
  width: 100%;
  text-align: center;
  color: #2c2c2c;
  height: 5px;
  text-shadow: 0 0px 1px #8f8f8f;
  letter-spacing: 2px;
}

.info__avatar-box{
  background: #ccc;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid #efefef;
  /* #9c9c9c */
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
  /* float: right; */
}

.info__avatar-box:hover{
  border-color: #56aaff;
}

.info__about{
  display: inline-block;
  height: 325px;
  width: 100%;
  max-height: 400px;
  max-width: 350px;
  /* border: 1px solid #ccc; */
  padding: 0 10px;
  text-align: center;
  float: right;

}

.info__about-text{
  height: 200px;
  background: rgba(225,225,225,0.1);
  /* border: 1px solid
  #ccc; */
  border-radius: 10px;
  overflow: scroll;
  padding: 10px;
  margin: 10px 0;
  line-height: 1.6;
  color: #2c2c2c;
  font-size: 18px;
}

.info__about-text p:first-of-type{
  margin: 0;
}

.info__about-text p:last-of-type{
  margin: 25px 0 0 0;
}

.download-button-block{
  display: inline-block;
  float: right;
  padding: 20px 0px 0px 0px;
  overflow: hidden;
  position: relative;
  top: 25px;
}

.download-button{
  width: 200px;
  height: 50px;
  /* background: #56aaff; */
  text-align: center;
}

.download-button-link{
  width: 150px;
  height: 25px;
  color: #56aaff;
  border-radius: 20px;
  border: 2px solid #56aaff;
  padding: 10px;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  transition: all 0.3s;
}

.download-button-link:active{
  color: #287aff;
}

.download-button-link:hover{
  color: #fff;
  background: #56aaff;
}

/* CAREER.HTML  */


.info__headline-career{
  width: 600px;
  text-align: center;
}

.years-block{
  width: 620px;
  position: relative;
  right: 10px;
  margin-top: 40px;
  height: 50px;


  /* border: 1px solid #ccc; */
}

.years-block__line{
    text-align: center;
    /* background: #0c85ff; */
    padding: 5px 10px;

}

.year_link{
  padding: 0 25px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  outline: none;
  color: #56aaff;
  border-left: 2px solid #56aaff;
  background: #bfdeff;
  border-radius: 2px;
  transition: all 0.5s;
}

.years-block__line__ul li{
  height:0;
}

.years-block__line__ul li:last-child{
  border-right: 2px solid #56aaff;
}



.year_link__this-page{
  background: #56aaff;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  transition: all 0.3s;

}

.info__career__photo{
  /* border: 1px solid black; */
  display: inline-block;
  height: 275px;
  width: 225px;
  overflow: hidden;
  float: left;
  padding: 0 20px;
}

.info__career__photo__picture{
  /* border: 3px solid #ccc; */
  overflow: hidden;
  height: 250px;
  width: 210px;
  border-radius: 10px;
  border: 2px solid #efefef;
  transition: all 0.5s;
}

.info__career__photo__picture:hover{
  border-color: #56aaff;
}

.info__career__about{
  min-width: 300px;
}

.info__career__about-text{
  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
  background: rgba(225,225,225,0.1);
  /* border: 1px solid #ccc; */
  overflow: auto;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 0px 0px;
  line-height: 1.4;
  color: #2c2c2c;
  font-size: 18px;
  text-align: center;
  position: relative;
  right: 10px;
}



/* PORTFOLIO.HTML  */

.info__headline-portfolio{
  width: 600px;
  text-align: center;
}

.info__portfolio-content{
  padding: 10px 5px;
}

.portfolio__line{
  text-align: center;
}

.portfolio__block{
  display: inline-block;
  height: 150px;
  width: 250px;
  /* border: 2px solid #ccc; */
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}

.portfolio__block__front-div{
  height: 175px;
  width: 250px;
  background: rgb(86, 170, 255,0.7);
  position: relative;
  bottom: 178px;
  text-align: center;
}

.portfolio__block__front-div h3{
  color: #f8f8f8;
  font-size: 22px;
  position: relative;
  top: 50px;
}

.portfolio__block__front-div p{
  color: #f3f3f3;
  position: relative;
  top: 30px;
}
